
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>CRM</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.css')}}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('css/jumbotron-narrow.css')}}" rel="stylesheet">
    <link href="{{ asset('css/main.css')}}">
    <link rel="stylesheet" href="{{ asset('css/fontawesome.min.css')}}">
    <script   src="https://code.jquery.com/jquery-1.12.3.min.js"   integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="   crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
     <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,cr-1.3.1,fc-3.2.1,fh-3.1.1,kt-2.1.1,r-2.0.2,rr-1.1.1,sc-1.4.1/datatables.min.css"/>
    {% block stylesheets %}
    {% endblock stylesheets %}

  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav style = "font-size: 28px;">
          <ul class="nav nav-pills pull-right">
            <li  style = "font-size: 20px;" role="presentation" class="active"><a href="{{ path('homepage')}}">Inicio</a></li>
             <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  style = "font-size: 20px;" aria-expanded="false">Ingreso Datos SQL <span class="caret"></span></a>
              <ul class="dropdown-menu">

                <li><a style = "font-size: 20px;"  style = "font-size: 15px;"  href="#">Action</a></li>
                <li><a  style = "font-size: 20px;" href="{{path('cliente_new')}}">Crear Clientes</a></li>

                <li><a  style = "font-size: 20px;" href="{{path('modulo1_campodinamico_listar')}}">Agregar campo dinámico</a></li>

                <li><a  style = "font-size: 20px;" href="{{path('correo_new')}}">Crear Correos</a></li>
              </ul>
            </li>
         
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  style = "font-size: 20px;" aria-expanded="false">Consultas SQL <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a style = "font-size: 20px;"  style = "font-size: 15px;"  href="{{path('cliente')}}">Ver Clientes</a></li>
                <li><a  style = "font-size: 20px;" href="{{path('telefono')}}">Ver Telefonos</a></li>
                <li><a  style = "font-size: 20px;" href="{{path('correo')}}">Ver Correos</a></li>
              </ul>
            </li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"  style = "font-size: 20px;" aria-expanded="false">Consultas MongoDB <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a  style = "font-size: 20px;"href="{{path('tweeter_query')}}">Consultas Detalle Twitter</a></li>
                <li><a style = "font-size: 20px;" href="{{path('tweeter_stats')}}">Estadísticas Twitter</a></li>
                <li><a  style = "font-size: 20px;" href="{{path('tweeter_query_resumen')}}">Consultas Resumen Twitter</a></li>
                  <li><a  style = "font-size: 20px;" href="{{path('update_client_tweets')}}">Actualizar Tweets</a></li>
             
              </ul>
            </li>
          </ul>
        </nav>
        <a href="{{ path('homepage')}}"><h3 class="text-muted">CRM</h3></a>
      </div>
      {% for flash_message in app.session.flashBag.get('success') %}
       <div class="alert alert-success">
            {{ flash_message }}
        </div>
    {% endfor %}
     {% for flash_message in app.session.flashBag.get('error') %}
       <div class="alert alert-danger">
            {{ flash_message }}
        </div>
    {% endfor %}
      {% block body %}
      

  
{% endblock %}
     

      <footer class="footer">
        <p>&copy; 2016 UVG</p>
      </footer>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{asset('js/bootstrap.min.js')}}"></script>
    <script src="{{asset('js/bc-bootstrap-collection.js')}}"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/t/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-colvis-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,cr-1.3.1,r-2.0.2/datatables.min.js"></script>
    <script type="text/javascript">
    $('select').select2();
  </script>
   <script>    
            var table = $('table').dataTable();
   </script>
   
   

    {% block javascripts %}
    {% endblock javascripts %}
  </body>
</html>
